.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

    .input label {
        font-weight: bold;
        margin-right: 1rem;
    }

    .input input {
        width: 3rem;
        font: inherit;
        border-radius: 5px;
        padding-left: 0.5rem;
        border: 1px solid #ccc;
    }